*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: black;
    /* display: flex; */
    /* align-items: center;*/
} 
.header-nav{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav p{
    color: #fff;
    font-size: 30px;
    animation: logo 3s linear normal;
}
@keyframes logo{
    0%{
        opacity: 0.3;
        font-size: 0px;
        transform: translateX(0px);
    }
    25%{
        opacity: 0.6;
        transform: translateX(5px);
    }
    50%{
        transform: translateX(15px);
        text-shadow: 0 0 5px 0 rgb(5, 85, 5);
        color: rgb(5, 85, 5);
        font-size: 40px;
        opacity: 1;
    }
    100%{
        opacity: 1;
        font-size: 30px;
        transform: translateX(0px);
    }

}
.header-nav .options{
    display: none;
    list-style: none;
}
.header-nav .menu{
    padding-right: 10px;
}
.header-nav .menu img{
    width: 30px;
}
.header-nav li a{
    color: #fff;
    text-decoration: none;
    margin: 0px 10px;
    transition: 1s;
}
.header-nav li:hover a{
    margin: 0px 20px;
    color: rgb(5, 85, 5);
    font-size: 30px;
    animation: menu .7s linear alternate;
}
@keyframes menu{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
 
    }
    100%{
        transform: translateY(0px);
    }
}

/* MAIN */

main{
    width: 100%;
    background: linear-gradient(Black, rgb(54, 54, 54));
    height:auto;
    padding-top: 20px;
    overflow: hidden;
}
.presentation{
    width: 100%;
    height: auto;
    /* padding-left: 25px; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.presentation-container{
    width: 100%;
    /* border: 1px solid #fff; */
    height: 30px;
    padding-left: 50px;
    margin:10px  auto;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    /* padding-bottom: 25px; */


}
.presentation-container ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 6s infinite;
}
.presentation-container ul, .presentation-container p{
    margin: 0;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    25%{margin-top: -30px;}
    35%{color:rgb(5, 85, 5) ;}
    50%{margin-top: -30px;}
    55%{margin-top: 0;}
    65%{color:rgb(5, 85, 5) ;}
    80%{margin-top: 0;}
    85%{margin-top: -30px;}
    95%{margin-top: -30px;}
    100%{margin-top: 0;}
}

.presentation-photo{
    width: 40%;
    height: 350px;
    padding-top: 20px;
    /* border: 1px solid red; */
}
.presentation-photo img{
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.about{
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.about .about-me{
    width: 340px;
    height: auto;
    /* border: 1px solid red; */
    overflow: hidden;
    /* text-align: center; */
}
.about .about-me p{
    color: #fff;
    font-size: 20px;
    text-justify: auto;
    display: inline-block;
    overflow: hidden;

}

.about .about-me .p1{
    animation: p1 1s linear;
}
 @keyframes p1{
     0%{transform:  translateX(500px);}
 }
.about .about-me .p2{
    animation: p2 1.5s linear;
}
 @keyframes p2{
     0%{transform:  translateX(500px);}
 }
.about .about-me .p3{
    animation: p3 2s linear;
}
 @keyframes p3{
     0%{transform:  translateX(500px);}
 }
.about .about-me .p4{
    animation: p4 2.5s linear;
}
 @keyframes p4{
     0%{transform:  translateX(500px);}
 }
.about .about-me .p5{
    animation: p5 3s linear;
}
 @keyframes p5{
     0%{transform:  translateX(500px);}
 }


@media (min-width: 600px){
    .header-nav .options{
        display: flex;
    }
    .header-nav .menu{
        display: none;
    }
    .presentation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .presentation-container{
        width: 60%;
    }
    .presentation-photo{
        width: 40%;
    }
    .presentation-photo img{
        width: 350px;
        height: 350px;
    }
    .about{
        padding-top: 50px;
    }
    .about .about-me{
        width: 500px;
    }
    .about .about-me p{
        font-size: 30px;
    }
}
